*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    overflow-x: hidden;
    max-width: 100%;
}
.sp{
    text-decoration: none;
    color: black;
}
.top-header{
    width: 100%;
    height: 100px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    opacity: 0.8;
    align-items: center;
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5; */
}
.header{
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 90px;
}
.nav-menu{
    display: flex;
    align-items: center;
    margin-left: -25px;
    margin-right: -25px;
    
}
.nav-menu > li{
    padding-left: 25.5px;
    padding-right: 25.5px;
    font-size: 16px;

}
.nav-menu li a{
    text-decoration: none;
    color: #fff;
}
.nav-menu li a:hover{
    color: aquamarine;
}
.li-home{
    position: relative;
}
.home{
    display: none;
    position: absolute;
}
.li-home:hover .home{
    display: block;
    width: 200px;
    background: #292929;
}
.home li {
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.section-icon{
    margin-left: 130px;
    display: flex;
    align-items: center;
}
.icon{
    color: #fff;
    display: flex;
    align-items: center;
    margin-left: -25px;
    margin-right: -25px;
    
}
.icon-top{
    padding-left: 25px;
    padding-right: 25px;
}
.icon-top:hover{
    color: aquamarine;
}
.icon-cart{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.banner,.section-category-product{
    display: flex;
    justify-content: center;
}
.section-category-product{
    position: absolute;
    right: 0;
    left: 0;
    transform: translate(0, -76px);

}
.section-header{
    background-image: url(images/banner.png);
    display: block;
    background-position: center;
    background-size: cover;
    background-color: #222;
    position: relative;
    height: 950px;
}
.content-banner{
    max-width: 1170px;
    width: 100%;
    margin: 188px 0 288px 0;
}
.text-white{
    color: #fff;
}
.title1-banner{
    font-size: 60px;
    font-weight: bold;
}
.title2-banner{
    font-size: 40px;
    font-weight: bold;
}
.text-banner{
    max-width: 523px;
    line-height: 24px;
    font-size: 14px;
}
.shop-now{
    margin-top: 60px;
    padding: 20px 45px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #fff;
}
.shop-now:hover{
    background-color: #fff;
    color: #222;
}
.category-product{
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    background: #fff;
}
.dumbbells, .stregth,.power-rack-cages{
    width: 33.333333333333333333%;
}
.img-dumbbells{
    background-image: url(images/img-dumbbells.png);
    background-position-x: center;
    background-size: cover;
}
.img-stregth{
    background-image: url(images/img-stregth.png);
    background-position-x: center;
    background-size: cover;
}
.img-power-rack-cages{
    background-image: url(images/img-power.png);
    background-position-x: center;
    background-size: cover;
}
.p2-category, .img-category{
    height: 50%;
}
.p2-category{
    padding: 22px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p2-dumbbells{
    box-shadow: -2px 4px 6px 0px #eaeaea;
}
.img-stregth{
    box-shadow: 0 4px 6px 0px #eaeaea;
}
.p2-power-rack-cages{
    box-shadow: 2px 4px 6px 0px #eaeaea;
}
.p2-category>.text1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin: 18px 0;
}
.p2-category>.text2{
    text-align: center;
    color: #777777;
    font-size: 14px;
}
.section-content{
    margin-top: 520px;
    display: flex;
    justify-content: center
}
.title-content{
    max-width: 1170px;
    width: 100%;
    display: flex;

}
.content{
    max-width: 1170px;
    width: 100%;

}
.content1{
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.content1:hover{
    color: #dd2f31;
    border-bottom: 2px solid #dd2f31;
}
.title-top-sellers{
    color: #dd2f31;
    border-bottom: 2px solid #dd2f31;
}
.product-top-sellers{
    display: flex;
    flex-wrap: wrap;
    border-top:1px solid #dddddd ;
    padding-top: 40px;
}

.product-top-sellers a {
    text-decoration: none;
    color: unset;
}

.item-product{
    width: 25%;
    padding: 10px;
    position: relative;
}
/* .item-product>img{
    position: relative;
} */
.btn-product{
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 12px;
    display: none;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.text-product{
    padding-left: 30px;
    font-size: 14px;
    margin-top: 29px;
}
.price{
    font-weight: bold;
}
.img-product1,.img-product2,.img-product3,.img-product4,.img-product5,.img-product6,.img-product7,.img-product8{
    padding-bottom: 86%;
    height: 0;
    width: 100%;
    display: flex;
    background-size: cover;
    flex-direction: column;
}
.item-product>div{
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* .img-product1{
    background-image: url(images/product1.png);
}
.img-product2{
    background-image: url(images/product2.png);
}
.img-product3{
    background-image: url(images/product3.png);
}
.img-product4{
    background-image: url(images/product4.png);
}
.img-product5{
    background-image: url(images/product5.png);
}
.img-product6{
    background-image: url(images/product6.png);
}
.img-product7{
    background-image: url(images/product7.png);
}
.img-product8{
    background-image: url(images/product8.png);
} */
.shopping-cart,.fa-eye,.fa-heart,.fa-exchange-alt{
    border: 1px solid #dddddd;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 7px 0;
}
.shopping-cart{
    padding: 9.5px 8.7px;
}
.fa-eye{
    padding: 9.5px 8.7px;
}
.fa-heart{
    padding: 9.5px 9.5px;
}
.fa-exchange-alt{
    padding: 9.5px 9.5px;
}
.item-product:hover{
    box-shadow: 1px 1px 4px 1px #dddddd
}
.item-product:hover .btn-product{
    display: block;
}
.shopping-cart:hover,.fa-eye:hover,.fa-heart:hover,.fa-exchange-alt:hover {
    background-color: #dd2f31;
    color: #fff;
}
.section-client-say{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.client-say{
    text-align: center;
    max-width: 770px;
}
.title-client-say{
    font-size: 36px;
    margin-bottom: 40px;
}
.image-client-say{
    width: 80px;
    height: 80px;
    background-image: url(images/img-client2.png);
    background-position-x: -58px;
    border-radius: 54px;
    margin: 0 auto;
}
.text-client-say{
    font-size: 18px;
    color: #777777;
    margin: 30px 0;
}
.name-client-say{
    font-size: 18px;
    font-weight: bold;
}
.text-below-name{
    font-size: 14px;
    color: #777777;
    margin-top: 15px;
}
.three-dots{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.dot{
    width: 12px;
    height: 12px;
    background-color: #777777;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.dot1{
    background-color: #dd2f31;
}
.dot:hover{
    background-color: #dd2f31;
}
.section-brands{
    display: flex;
    justify-content: center;
}
.brands{
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    justify-content: center;
    border-top: 1px solid #777777;
}
.brands>img{
    margin-left: 33px;
    margin-right: 33px;
    max-width: 130px;
    padding: 35px 0;
}
.content-footer{
    background-color: #222222;
}
.footer1{
    text-align: center;
    max-width: 716px;
    font-size: 14px;
    color: #777777;
    margin: 0 auto;
    padding: 100px 0 50px 0;

}
.text-footer1{
    margin: 30px 0 38px 0;
}
.icon-footer1>i{
    padding: 4px 16px;
    margin: 0 2px;
    cursor: pointer;
}
.section-footer2{
    display: flex;
    justify-content: center

}
.footer2{
    display: flex;
    max-width: 1170px;
    width: 100%;
    flex-wrap: wrap;
    border-top:1px solid #777777 ;
    padding-top: 60px;
    color: #777777;
    margin-bottom: 50px;
}
.footer2>div{
    width: 25%;
    padding-top: 10px;
}
.title-footer2{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.line-contact{
    display: flex;
    margin-top: 20px;
}
.line-contact>i{
    margin-top: 3px;
    margin-right: 20px;
}
.text-footer2{
    margin-top: 20px;
}
.bottom-footer{
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 48px;
    color: #777777;
}
.btn-menu{
    background: transparent;
    border: 0;
    color: #fff;
    padding-right: 20px;
    display: none;
    position: relative;
}

.li-home>i{
    display: none;
}
@media screen and (max-width: 1024px) {
    .logo{
        padding-bottom: 5px;
    }
    .nav-menu>.last-item-menu{
        border-bottom: none;
    }
    .menu,.li-home:hover .home{
        display: none;
    }
    .li-home>i{
        display: block;
        float: right;
        padding-top: 5px;
    }
    .content-banner,.footer2{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav-menu{
        display: block;
        /* border:1px solid #777777; */
        padding-left: 10px;
        background: #fff;
        margin: 0;
    }
    .header{
        justify-content: space-between;
        padding-left: 15px;
    }
    .nav-menu li a{
        color: #222;

    }
    .nav-menu li{
        border-bottom: 1px solid #777777;
        padding: 5px;
    }
    .menu-mobile{
        display: block;
        position: absolute;
        border-bottom: 1px solid #777777;
        right: 0;
        transform: translate(0, 80px);
        width: 50%;
    }
    .btn-menu{
        display: block;
    }
    .li-home:hover .item-home{
        display: block;
        width: 95%;
        background: #988484;
    }
    
    
}
@media screen and (max-width: 768px ) {
    .category-product{
        height: 600px;
    }
    .section-category-product{
        position: inherit;
    }
    .section-content{
        margin-top: -76px;
        padding-top: 100px;

    }
    .item-product{
        width: 33.33333333333333%;
    }
    .container-content,.text-footer1,.text-footer1{
        padding: 0 15px;
    }
}
@media screen and (max-width: 759px) {
    .dumbbells, .stregth, .power-rack-cages{
        width: 100%;
    }
    .category-product {
        height: 1470px;
    }
    .power-rack-cages{
        margin-top:5px ;
    }
    .menu-mobile{
        transform: translate(0, 92px);
    }
    .item-product{
        width: 50%;
    }
    .text-product{
        text-align: center;
    }
    .footer2>div{
        width: 50%;
    }
    .section-icon{
        margin-left: 5px;
    }
    
}
@media screen and (max-width: 431px) {
    .bottom-footer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .title-content{
        white-space: nowrap;
        overflow-x: scroll;
    }
}
@media screen and (max-width:375px) {
    .item-product{
        width: 100%;
    }
    .footer2>div {
        width: 100%;
    }
    .title2-banner{
        font-size: 30px;
    }
    .title1-banner {
        font-size: 50px;
    }
    .content1{
        padding-left: 14.5px;
        padding-right: 14.25px;
        font-size: 16px;
    }

}